body{
  font-family: sans-serif;
  background-image: url(./images/earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  margin: 0;
}

/* ----------------------------------------------------------------HEADER---- */

header{
  display: flex;
}

.pageTitle{
  position: relative;
  left: 5vw;
}
    .pageTitle h1{
      color: white;
      text-transform: uppercase;
      font-family: "Economica", sans-serif;
      font-size: 4em;
      font-weight: 800;
    }


.navi{
  position: fixed;
  right: 5vw;
  top: 9.5vh;
}

.navi ul{
    display: flex;
    padding: 0;
    margin: 0;
}
    .navi ul li{
      color: white;
      list-style: none;
      margin: 18px;


    }
        .navi ul li a{
          background-color: white;
          color: black;
          padding: 5px;
          text-decoration: none;
          text-transform: uppercase;
          border-radius: 10px;
          font-weight: 900;
          margin-bottom: 5px;
           box-shadow: 0px 0px 10px white;
        }
        .navi ul li a:hover{
            background-image:radial-gradient( #15bada 65%, #040404);
            color: white;
            padding: 4px;
            border: 1px solid white;
            box-shadow: 0px 0px 25px #1aa8de;

        }

/* ------------------------------------------------------------HEADER END---- */

/* ------------------------------------------------------BLOG ENTRY---------- */

.blogPreviews{
  display: flex;
  flex-direction: column;
}

.entry{
  background-color: rgb(0 0 0 / 66%);
  border: 2px solid white;
  border-radius: 10px;
  padding: 2em;
  width: 45%;
  margin: 3em;
  box-shadow: 0px 0px 10px white;
}
    .entry p{
      color: white;
    }


.title{
  text-align: center;
  color: white;
}

.readMore{
  text-align: center;
}
    .readMore button{
      color: white;
      background-color: rgb(0 0 0 / 66%);
      border-radius: 10px;
    }


/* ==============================================================BREAKPOINTS==*/

@media only screen and (max-width: 1030px){
    header{
        flex-direction: column;
    }

    header .pageTitle{
        display: flex;
        justify-content: center;
    }

    .navi{
      display:flex;
      justify-content: center;
      align-items: center;
      position: static;
      right: 5vw;
      top: 9.5vh;
    }

    .navi ul{
        display: flex;
        padding: 0;
        margin: 0;
    }
}


/* ------------------------------------------------------BLOG ENTRY END------ */

/* ------------------------------------------------------CONTACT PAGE-------- */

.formContainer{
  position: relative;
  top: 3vh;
  width: 60%;
  margin: 0 auto 0 auto;
}

.formContainer p{
    color: white;
    font-size: 1em;
    margin: 0 auto 1em auto;
    border: 2px solid white;
    background-color: rgb(0 0 0 / 66%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    padding: 2px;
}

.formContainer .contactForm{
    display: flex;
    flex-direction: column;
}

.formContainer input{
    border: 2px solid white;
    color: white;
    font-size: 1.5em;
    background-color: rgb(0 0 0 / 66%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    margin-bottom: 1em;
}

.formContainer input placeholder{
    vertical-align: middle;
}

.formContainer textarea{
  border: 2px solid white;
  color: white;
  font-size: 2em;
  background-color: rgb(0 0 0 / 66%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
}

.submitButtonContainer{
  display: flex;
  justify-content: center;
}
    .submitButtonContainer button{
      font-size: 1.2em;
      margin: 10px;
      color: white;
      background-color: rgb(0 0 0 / 66%);
      border-radius: 10px;
    }



/* ===================================================================FOOTER==*/


.footer{
    display: flex;
    justify-content: space-between;
    background-color: #1286ff52;
    height: 100px;

    /* border: 2px solid #54949e; */
    box-shadow: 0px 0px 10px #1286ff52;
}

.footer p{
    color: white;
    font-size: 16px;
}

.logo-container{

}

.logo{
    height: 80px;
    width: 160px;
    position: relative;
    top: 9px;
    margin-left: 1em;
}

.logo-container p{

}
